<section class="presentacion mt-2">
    <div class="imagen-fondo">
      <div class="container text-center">
        <div class="row">
          <div class="col-3">
             <img src="assets/fotoperfil.jpg" alt="FotoDePerfil" class="rounded-circle img-fluid perfil">
          </div>
          <div class="col-9 mt-5">
            <h2 class="mt-3 pt-2 text-white lh-base ">
              Estudiante de programacion full stack junior, ESTUDIANTE DE PROGRAMACION FULL STACK JR. EDITOR DE
              AUDIOVISUALES LOCUCION DIBUJANTE PINTOR Y TATUADOR
              <br> editor de audiovisuales,
              locucion,
              <br> dibujante, pintor y tatuador,
            </h2>
            <h4 class="mt-3 pt-2 text-white fw-light lh-base">
              <br> Me considero una persona creativa, con soluciones e ideas creativas,
              investigo mucho sobre las actividades que desarrollo para llevar mis habilidades siempre un paso mas alla,
              me apasiona aprender cosas nuevas saliendo siempre de mi zona de confort,
              amo la informatica y trabajar con software de todo tipo, ahora mi pasion tambien es el desarrollo y la
              programacion
              , me adapto muy bien a la rutina y entorno de trabajo y me desenvuelvo con naturalidad en un equipo de
              trabajo
            </h4>
          </div>
        </div>
      </div>
    </div>
